<!DOCTYPE html>
<html>
    <head>
        <title> Online Shooping </title>

        <style>
            body { background-color: lightgrey;
            }
        </style>
    </head>
    
    <body>
    <h1 style="color:darkblue;"> Update And Delete Customer Details </h1>
  
    <form action="/edit_customer/{{ data[0] }}" method="POST">
    
        <input value="{{ data[0]}}" type="text" name="order_no" placeholder="Enter order number"> <br></br>
        <input value="{{ data[1] }}" type="text"  name="customer_name" placeholder="Enter Customer Name"> <br></br>
        <textarea type="text" type="text" name="product_info" placeholder="Enter Product Information"  row="6", cols= "50"> {{ data[2] }} </textarea><br></br> 
        <input value="{{ data[3] }}"  type="number" name="contact_number" placeholder="Enter Contact Number" ><br></br>   
        <input value="{{ data[4] }}" type="date" name="delivery" ><br></br>
        <input value="{{ data[5] }}" type="text" name="location" placeholder="Enter Customer Location" ><br><br>
        <input type="submit" value="UPDATE DETAILS" > <br> </br>
      
    </form>
  
    <a href="/delete_order/{{ data[0] }}"> DELETE ORDER DETAILS</a>
  
  </body>
</html>