<!DOCTYPE html>
<html>
    <head>
        <title> Online Shooping </title>
   </head>
   
   <style>
        body { background-color: lightblue;
            }        
   </style>
      
   <body>
   <center>

        <h1 style="color:darkblue;">WELCOME AMAZON</h1>
        <style>
            div { background-color: lightgrey;
                  width: 300px;
                  border: 5px solid green;
                  padding: 50px;
                  margin: 20px;
               }
         </style>
         <div>      
        <p style="color:blue;"> Customer Record For Delivery </p> 
           
    <form action="/customer_data" method= "POST">
    
        <input type="number" name="order_no" placeholder="Enter order Number"> <br></br>
        <input type="text"  name="customer_name" placeholder="Enter Customer Name" required><br></br>
        <textarea type="text"  name="product_info" placeholder="Enter Product Information"  row="5", cols="30"  required> </textarea><br></br> 
        <input type="number" name="contact_number" placeholder="Enter Contact Number" required><br></br>   
        <input type="date"  name="delivery" placeholder="Enter Delivery Date" required ><br></br>
        <input type="text" name="location" placeholder="Enter Customer Location" required><br></br>
        <input type="submit" value="ADD CUSTOMER DATA"> 
        
             
		<p>Click the <b style="color:darkblue;">"ADD CUSTOMER DATA" </b> button so the information will be save in Customer Details
              </p> <br> </br>
             
        <a href="/show_customer"> <b> Show Customer Details </b></a>
      
    </form>
    </body>
</html>